body{
    display: flex;
}
#Playground{
    background-color: rgb(135, 225, 255);
    height: 600px;
    width: 800px;
    border-style: solid;
    border-width: 4px;
    border-color: blue;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
p{
    font-family: Arial;
}
.name{
    margin: 0;
}
.Choose{
    font-size: 50px;
}
#names{
    display: flex;
    flex-direction: row;
    font-size: 60px;
    column-gap: 300px;
}
#Objects{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 200px;
    width: 650px;
    justify-content: space-between;
}
img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100px;
    cursor: pointer;
    
}
#Points{
    margin-left: -4px;
    background-color: rgb(135, 225, 255);
    height: 600px;
    width: 200px;
    border-style: solid;
    border-width: 4px;
    border-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Points{
    font-size: 50px;
    margin-bottom: 0;
}
.PointShow{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 600;
}
.point{
    font-family: Arial;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 50px;
}
#ResultShow{
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: 600;
}
#refresh{
    height: 40px;
    width: 70px;
    position: absolute;
    left: 30px;
    bottom: 10px;
    color: white;
    background-color: green;
    border-style: solid;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: Arial;
    font-size: 16px;
    display: none;
}
#typeRes{
    font-family: Arial;
    font-size: 60px;
    padding: 20px;
    padding-bottom: 0;
    margin-top: 15px;
    margin-bottom: 0;
}
#space-expression{
    position: absolute;
    margin: 0;
    bottom: 5px;
    right: 10px;
    display: none;
}